function Main.main 1
call SquareGame.new 0
pop local 0
//let game = SquareGame.new()
push local 0
//do game.run()
call SquareGame.run 1
pop temp 0
push local 0
//do game.dispose()
call SquareGame.dispose 1
pop temp 0
//return 
push constant 0
return
